<div class="footer-box container">
    <p class="text-footer"><span>&#169</span> 2021 | All Rights Reserved |</p>
    <p class="footer-text-two">Developed with
        <span class="footer-icon">
            <svg class="favorite-icon">
                <use href="{{src}}#favorite"></use>
            </svg>
        </span> by
        <a href="#" class="footer-link">GoIT Students</a>
    </p>
</div>