<form class="search-form" id="search-form">
    <input type="text" name="query" id="search-form-input" class="search-form-input" autocomplete="off"
        placeholder="Search films" required>
    <button class="btn-search">
        <svg class="btn-search-icon">
            <use href="{{src}}#search"></use>
        </svg>
    </button>
</form>