<div class="container">
    <div class="header-navigation">
        <a href="/" class="logo-link logo">
            <svg class="logo-icon">
                <use href="{{src}}#logo"></use>
            </svg>
            <span class="logo-name-site">Filmoteka</span>
        </a>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-list__item">
                    <a href="/home" class="nav-item__link" id="home">HOME</a>
                </li>
                <li class="nav-list__item">
                    <a href="/myLibrary" class="nav-item__link" id="library">MY LIBRARY</a>
                </li>
            </ul>
        </nav>
    </div>

    {{!-- <form class="search-form" id="search-form">
        <input type="text" name="query" id="search-form-input" class="search-form-input" autocomplete="off"
            placeholder="Search films" required>
        <button class="btn-search">
            <svg class="btn-search-icon">
                <use href="{{src}}#search"></use>
            </svg>
        </button>
    </form> --}}
    <div class="header-content" id="header-content">

    </div>
</div>