<ul class="team-list">
  <li class="team-item">
    <img src="../images/bogdan.jpg" alt="Bogdan" width="200px" />
    <div class="text-box">
      <div class="team-info-box">
        <p class="team-name">Богдан Лямзин</p>
        <p class="team-info">DeMentor</p>
      </div>
      <a href="https://github.com/BogdanLyamzin" class="modal-opasiti" target="_blank">GitHub</a>
    </div>
  </li>

  <li class="team-item">
    <img src="../images/roma.jpg" alt="Roman" width="200px" />
    <div class="text-box">
      <div class="team-info-box">
        <p class="team-name">Роман</p>
        <p class="team-info">Team Leader</p>
      </div>
      <a href="https://github.com/pomafess" class="modal-opasiti" target="_blank">GitHub</a>
    </div>
  </li>
  <li class="team-item">
    <img src="../images/vika.jpg" alt="Vika" width="200px" />
    <div class="text-box">
      <div class="team-info-box">
        <p class="team-name">Виктория</p>
        <p class="team-info">Scrum Master</p>
      </div>
      <a href="https://github.com/ViktoriiaKhimich" class="modal-opasiti" target="_blank">GitHub</a>
    </div>
  </li>
  <li class="team-item">
    <img src="../images/lesha.jpg" alt="Alex" width="200px" />
    <div class="text-box">
      <div class="team-info-box">
        <p class="team-name">Алексей</p>
        <p class="team-info">Developer</p>
      </div>
      <a href="https://github.com/AlexVans85" class="modal-opasiti" target="_blank">GitHub</a>
    </div>
  </li>
  <li class="team-item">
    <img src="../images/yarik.jpg" alt="Yaroslav" width="200px" />
    <div class="text-box">
      <div class="team-info-box">
        <p class="team-name">Ярослав</p>
        <p class="team-info">Developer</p>
      </div>
      <a href="https://github.com/Hliy89" class="modal-opasiti" target="_blank">GitHub</a>
    </div>
  </li>
  <li class="team-item">
    <img src="../images/jenya.jpg" alt="Eugeniy" width="200px" />
    <div class="text-box">
      <div class="team-info-box">
        <p class="team-name">Евгений</p>
        <p class="team-info">Developer</p>
      </div>
      <a href="https://github.com/EvgeniyBoyko" class="modal-opasiti" target="_blank">GitHub</a>
    </div>
  </li>
  <li class="team-item">
    <img src="../images/max.jpg" alt="Max" width="200px" />
    <div class="text-box">
      <div class="team-info-box">
        <p class="team-name">Максим</p>
        <p class="team-info">Developer</p>
      </div>
      <a href="https://github.com/MaksymSharpan" class="modal-opasiti" target="_blank">GitHub</a>
    </div>
  </li>
  <li class="team-item">
    <img src="../images/vlad.jpg" alt="Vlad" width="200px" />
    <div class="text-box">
      <div class="team-info-box">
        <p class="team-name">Владислав</p>
        <p class="team-info">Developer</p>
      </div>
      <a href="https://github.com/Vladislaw1" class="modal-opasiti" target="_blank">GitHub</a>
    </div>
  </li>


</ul>